body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 45px;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .bg-5 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }

  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  .center {
      margin-left: auto;
      margin-right: auto;
  }

.links {
    word-spacing: 35px;
}

#profile {
    border: white solid
}

iframe {
    border: #2f2f2f solid;
}

.row a:visited {
    text-decoration: none;
    color: #555555; 
}

.row a:hover {
    text-decoration: none;
    color: #1abc9c;
}

.row a { 
    text-decoration: none; 
}

.row a:link {
    text-decoration: none;
}

.back-to-top {
    background-color: gray;
    color: #FFFFFF;
    border: white solid;
    opacity: 0;
    transition: opacity .6s ease-in-out;
    z-index: 999;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 50%;
    text-decoration: none; 
  }

  a.back-to-top {
    font-weight: 1000;
    letter-spacing: 2px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.6;
    padding-left: 2px;
    padding-top: 14px;
    text-decoration: none; 
  }

  .back-to-top:hover, .back-to-top:focus, .back-to-top:visited {
    color: #FFFFFF;
    text-decoration: none; 
  }

  .back-to-top.show {
    opacity: 1;
  }